* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Comic Sans MS;
  background-image: url('bg.jpg');
}

.form-login {
  width: 400px;
  height: 340px;
  background: #4e4d4d;
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #017bab;
  color: white;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;

}


.controls {
  width: 100%;
  border: 1px solid #06bef9 ;
  margin-bottom: 15px;
  padding: 11px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;              /* 1 par치metro */
  border-radius: 25% 50%;           /* 2 par치metros */
  border-radius: 50px 25px 10px;    /* 3 par치metros */
  border-radius: 25px 0 15px 50px;  /* 4 par치metros */
}

.buttons {
  width: 100%;
  height: 40px;
  background: #06bef9 ;
  border: none;
  color: white;
  margin-bottom: 16px;
}

.form-login p{
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

.form-login a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.form-login a:hover {
  text-decoration: underline;
}
